
auth/resource_management claude 1.php
auth/resource_management copy 1st edit from copilot.php
auth/resource_management copy.php

auth/my dashboard.php
auth/my dashboard final -1.php
auth/my dashboard final copy.php
auth/my dashboard copy current before dtabase prompt.php

auth/resource_management claude 1.php
auth/resource_management claude 2.php
auth/resource_management ( first one with all codes - large).php
auth/resource_management copy.php
auth/resource_management copy 1st edit from copilot.php

database/create_databases my data.php
database/create_databases my data copy.php
database/insert_test_data my data .php
database/insert_test_data my data  copy.php

database/create_databases my data(1).php
database/delete_database my data(1).php
database/delete_test_data my data(1).php
database/insert_test_data my data (1).php

database/abs.php
auth/resource_management final.php

z backup

